USE [master]
GO
/****** Object:  Database [Telefonszamok]    Script Date: 2025. 05. 07. 13:24:04 ******/
CREATE DATABASE [Telefonszamok]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Telefonszamok_NLA01', FILENAME = N'C:\Temp\Telefonszamok_NLA01.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Telefonszamok_NLA01_log', FILENAME = N'C:\Temp\Telefonszamok_NLA01_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Telefonszamok].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Telefonszamok]
GO
/****** Object:  Table [dbo].[Felhasznalok]    Script Date: 2025. 05. 07. 13:24:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Felhasznalok](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Felhasznalonev] [nvarchar](50) NOT NULL,
	[Jelszo] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Helyseg]    Script Date: 2025. 05. 07. 13:24:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Helyseg](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[IRSZ] [nvarchar](128) NOT NULL,
	[Nev] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_Helyseg] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Szemely]    Script Date: 2025. 05. 07. 13:24:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Szemely](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Vezeteknev] [nvarchar](4000) NULL,
	[Utonev] [nvarchar](4000) NULL,
	[Lakcim] [nvarchar](4000) NULL,
	[enHelysegid] [int] NULL,
 CONSTRAINT [PK_Szemely] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Telefonszamok]    Script Date: 2025. 05. 07. 13:24:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Telefonszamok](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Szam] [nvarchar](4000) NULL,
	[enSzemelyid] [int] NULL,
 CONSTRAINT [PK_Telefonszamok] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Szemely]  WITH CHECK ADD  CONSTRAINT [FK_Szemely_Helyseg_0] FOREIGN KEY([enHelysegid])
REFERENCES [dbo].[Helyseg] ([id])
GO
ALTER TABLE [dbo].[Szemely] CHECK CONSTRAINT [FK_Szemely_Helyseg_0]
GO
ALTER TABLE [dbo].[Telefonszamok]  WITH CHECK ADD  CONSTRAINT [FK_Telefonszamok_Szemely_0] FOREIGN KEY([enSzemelyid])
REFERENCES [dbo].[Szemely] ([id])
GO
ALTER TABLE [dbo].[Telefonszamok] CHECK CONSTRAINT [FK_Telefonszamok_Szemely_0]
GO
USE [master]
GO
